
@font-face {
    font-family: 'Gilroy sans-serif';
    src: local('Gilroy sans-serif'), local('Gilroysansserif'), 
         url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy sans-serif';
    src: local('Gilroy sans-serif'), local('Gilroysansserif'), 
         url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;

  border: none;
  background-color: transparent;
}
.button:hover {

}

.button:active {
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-top: 40px;
}

.inner-page .main-header {
  margin-bottom: 40px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  background-color: #f7e296;
}

.header-logo {
  position: absolute;
  width: 165px;
  height: 48px;
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  color: #000000;
}

.inner-page .header-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.inner-page .header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form {
  width: 440px;
}

.search-form input[type="search"] {
  font: inherit;

  background-color: #f7e296;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;   
  opacity: 0.3;
  outline: none;
}

.search-form input[type="search"]:hover {
  opacity: 0.6;
}

.search-form input[type="search"]:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.button-search{ 
  font: inherit;

  color: #000000;
  text-align: center;
  vertical-align: bottom;

  background-color: #f7e296;
  border: 2px solid #000000;

  outline: none;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-menu {
  width: 500px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-user-menu a{
  color: #000000;
}

.header-user-menu a:hover {
  opacity: 0.6;
}

.header-user-menu a:active {
  opacity: 0.3;
}

.site-menu  {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-menu a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;

  color: #000000;
}

.site-menu a:hover {
  opacity: 0.6;
}

.site-menu a:active {
  opacity: 0.3;
}

.catalog-menu{
  width: 440px;
  margin: 0;
  padding: 0;
}

.catalog-menu-navigation {
  list-style: none;
}
.catalog-menu-navigation a{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

.slider-horizontal {
  display: flex;
  justify-content: flex-start;
}

.slider-list {
  margin: 0;
  margin-bottom: 105px;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider-item table {
  border: none;
}

.number-slide {
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  font-weight: bold;
  line-height: 179.2px;
}
.slider-item h3 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 56px;
}

.slider-item tr:nth-child(1) {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.slider-item tr:nth-child(2) {
  font-size: 13px;
  line-height: 20px;
}

.popular-items-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 180px;
  padding: 0;
  list-style: none;
}

.popular-items-navigation a {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.popular-item-background {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.popular-item:hover .popular-item-background {
  background-color: #f0c52e;
}

.popular-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-vertical {
  width: 100%;
  background-color: #e5e5e5;
  margin-bottom: 105px;
}

.slider-vertical-list {
  padding: 0;
  margin: 0;
  list-style: none;

}
.slider-vertical-item h3 {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
}

.slider-vertical-item-button:active {
  color: #f7e184;
  background-color: #000000;
  opacity: 1;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 105px;
  padding: 0;
  list-style: none;
}

.partners li {
  position: relative;
}

.partners-item img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.partners-item:hover img:last-child {
  opacity: 1;
}

.partners-item:hover img:first-child {
  opacity: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.index-columns h2 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;;
}

.index-columns p {
  letter-spacing: 0;
}

.about {
  width: 475px;
}

.about ul {
  list-style: none;
}

.transport-companies {
  list-style: none;
  margin: 0;
  padding: 0;
}

.transport-companies li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;;
  letter-spacing: 0;
}

.contacts {
  width: 560px;
}

.page-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 45px;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.content-and-filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter {
  padding: 0;
  margin: 0;
  margin-left: 60px;
}

.filters h2,
.filters-top h2,
.filters-top b {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.filters ul,
.filters-top ul {
  list-style: none;
}

.filters fieldset {
  border: none;
}
.filters legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.filters label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.price-filter span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filters-top {
background-color: #ebebeb; /*линейный градиент запилить*/
}

.filters-top-list {
  display: flex;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  margin-left: 60px;
}

.filters-top-list a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.filters-top-list a:hover {
  color:rgba(0, 0, 0, 0.6);
}

.filters-top-list a:active,
.filters-top-list a.active {
  color:rgba(0, 0, 0, 1);
}

.catalog ul {
  list-style: none;
}

.catalog a {
  color: #000000;
}
.catalog-item h3 {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.catalog-item b {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.button-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
  outline: none;
}

.button-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  list-style: none;
  background-color: #ebebeb;
}

.pagination-back:hover {
  background-color: #d9d9d9;
}

.pagination-back:active {
 color: rgba(0, 0, 0, 0.3);   
}

.pagination-forward:hover {
  background-color: #d9d9d9;
}

.pagination-forward:active {
 color: rgba(0, 0, 0, 0.3);   
}

a.pagination-item{
  color: rgba(0, 0, 0, 0.3);
}

a.pagination-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

a.pagination-item:active {
  color: rgba(0, 0, 0, 1);
}

.main-footer {
  width: 100%;
  margin-top: 90px;
  padding: 65px 0;
  color: #ffffff;
  background-color: #464646;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-top {
  display: flex;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 537px;
}

.footer-site-menu {
  width: auto;
}

.footer-user-menu {
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.main-footer a {
  color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

.social-buttons {
  margin: 0;
  padding: 0;
}

.main-footer .footer-logo {
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  color: #ffc600;
}

.inner-page .footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.inner-page .footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-user-menu a {
  line-height: 36px;
  opacity: 0.7;
}

.footer-user-menu a:hover {
  opacity: 1;
}


.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-site-menu a {
  color: #ffffff;
}

.modal-write-us label {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
}

.modal-write-us input,
.modal-write-us textarea  {

  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  border: 3px solid transparent;
  background-color: #e5e5e5;
  opacity: 0.5;
  outline: none;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  opacity: 0.8;
} 

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border: 3px solid #f0c52e;
}

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
  background-color: #edb5b5;
}

.modal-map img {
  box-shadow: 10px 10px 20px 0 rgba(4, 6, 6, 0.2);
}







