
@font-face {
    font-family: 'Gilroy sans-serif';
    src: local('Gilroy sans-serif'), local('Gilroysansserif'), 
         url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy sans-serif';
    src: local('Gilroy sans-serif'), local('Gilroysansserif'), 
         url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: block;
  padding: 8px 0px;
  z-index: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  border: none;

  background-color: transparent;
  box-sizing: content-box;
}

.button::before {
  position: absolute;
  content: "";
  left: 0;
  z-index: -1;
  top: 40%;
  width: 100%;
  height: 18%;

  background-color: #f0c52e;
}


.button:hover::before {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.button:active {
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-top: 40px;
}

.inner-page .main-header {
  margin-bottom: 40px;
}

.main-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 34px;
  padding-bottom: 43px;
  background-color: #f7e296;
}

.header-logo {
  position: absolute;
  top: -24px;
  left: 57px;
  width: 165px;
  height: 48px;
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  color: #000000;
}

.inner-page .header-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

.inner-page .header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 450px;
  height: 49px;
  margin-bottom: 26px;
}

.search-form::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 3px;
  width: 17px;
  height: 17px;

  background-image: url("../img/svg/search.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.search-form input[type="search"] {
  width: 315px;
  min-height: 49px;
  padding-left: 40px;

  font: inherit;

  background-color: #f7e296;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;   
  opacity: 0.3;
  outline: none;
}

.search-form input[type="search"]:hover {
  opacity: 0.6;
}

.search-form input[type="search"]:focus {
  border-bottom: 2px solid #000000;
  opacity: 1;
}

.button-search{ 
  visibility: hidden;
  width: 85px;
  height: 49px;
  font: inherit;

  color: #000000;
  text-align: center;
  vertical-align: bottom;

  background-color: #f7e296;
  border: 2px solid #000000;

  outline: none;
}

.button-search:hover {
  color: #ffffff;

  background-color: #000000;
  cursor: pointer;
}

.button-search:active {
  visibility: visible;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  cursor: pointer;
}

input[type="search"]:focus + .button-search {
  visibility: visible;
}

.header-user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 500px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.header-user-menu ul {
  padding: 0;
  margin: 0;
}
.header-user-menu li {
  display: block;
  margin-right: 38px;
}

.header-user-menu li:last-child {
  margin-right: 0;
}

.header-user-menu a{
  position: relative;
  padding-left: 26px;
  color: #000000;
}

.header-user-menu a:hover {
  opacity: 0.6;
}

.header-user-menu a:active {
  opacity: 0.3;
}

.header-user-menu li:first-child {
  margin-right: auto;
}

.header-user-menu .enter::before {
  content: "";

  position: absolute;
  bottom: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/svg/user.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-user-menu .compare::before {
  content: "";

  position: absolute;
  bottom: 4px;
  left: 7px;

  width: 10px;
  height: 10px;

  background-image: url("../img/svg/compare.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-user-menu .cart::before {
  content: "";

  position: absolute;
  bottom: 4px;
  left: 3px;

  width: 13px;
  height: 12px;

  background-image: url("../img/svg/cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.nav-site-menu  {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-site-menu li {
  display: block;
  width: 120px;
  margin-right: 38px;
}

.nav-site-menu li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.site-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-menu a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;

  color: #000000;
}

.site-menu a:hover {
  opacity: 0.6;
}

.site-menu a:active {
  opacity: 0.3;
}

.catalog-menu{
  margin: 0;
  padding: 0;
}

.catalog-menu-visible {
  position: relative;
  width: 260px;
}

.catalog-href {
  position: relative;
  padding-right: 26px;
}

.catalog-href::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -1px;
  
  width: 16px;
  height: 16px;

  background-image: url("../img/svg/plus.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-menu-navigation {
  width: 1040px;
  visibility: hidden;
  position: absolute;
  z-index: 5;
  right: -60px;
  left: -60px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 31px;
  background-color: #f7e296;
  list-style: none;
}


.catalog-href:hover + .catalog-menu-navigation::before,
.catalog-menu-navigation:hover::before {
  content: "";
}

.catalog-menu-navigation::before {
    position: absolute;
    z-index: -10;
    top: -10px;
    left: 0;
    visibility: visible;
    width: 1160px;
    height: 100%;
  }

.catalog-href:hover + .catalog-menu-navigation,
.catalog-href:focus + .catalog-menu-navigation,
.catalog-menu-navigation:hover,
.catalog-menu-navigation:focus {
  visibility: visible;
}

.catalog-menu-column:first-of-type {
  width: 200px;
}

.catalog-menu-column {
  width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.catalog-menu-navigation a{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.3px;
}

.slider-horizontal {
  position: relative;
  margin-bottom: 106px;
}

.number::after {
  position: absolute;
  z-index: 0;
  right: 48px;
  top: -10px;
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: bold;
  line-height: 179px;
}

.slider-item:nth-of-type(1)::after {
  content: "01";
}

.slider-item:nth-of-type(2)::after {
  content: "02";
}

.slider-item:nth-of-type(3)::after {
  content: "03";
}

.slider-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 105px;
  padding: 0;
  list-style: none;
}

.slider-item {
  width: 100%;
  display: none;
  justify-content: space-between;
  background-image: linear-gradient(#f7e296 120px,#fff 120px, #fff);
}

.slider-item-active {
  display: flex;
}

.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  margin-top: 7px;
}

.slider-info {
  width: 560px;
  margin-top: 43px;
}

.slider-info table {
  border: none;
  border-spacing: 0;
}

.slider-info h3 {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  padding-top: 43px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 56px;
}

.slider-info h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-info p {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 40px;
  width: 500px;
}
.button-container {
  width: 220px;
  margin-bottom: 49px;
}
.slider__buttons {
  display: flex;
  position: absolute;
  right: 92px;
  bottom: 138px;

}


.slider-button {
  position: relative;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  padding: 10px;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;

  cursor: pointer;
}

.slider-button--active {
  background-image: url("../img/svg/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
}

.table-slider-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.table-slider-list tr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.table-slider-list tr,
.table-slider-list td {
  padding: 0;
}

.table-slider-list td:first-of-type{
  display: block;
  width: 160px;

}
.table-slider-list td{
  display: block;
  width: 140px;
}

.slider-item tr:nth-child(1) {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.slider-item tr:nth-child(2) {
  font-size: 13px;
  line-height: 20px;
}


.popular-items {
  margin-bottom: 82px;
}

.popular-items-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}


.popular-items-navigation a {
  display: block;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.popular-items-navigation p {
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.popular-items-navigation li {
  margin-bottom: 40px;
}

.popular-item-icon {
  margin-bottom: 27px;
  background-color: #f7e296;
}

.popular-item-icon:hover,
.popular-item-icon:focus {
  background-color: #f0c52e;
}

.popular-item:active .popular-item-svg,
.popular-item:active p  {
  opacity: 0.3;
}

.slider-vertical {
  width: 100%;
  background-color: #e5e5e5;
  margin-bottom: 105px;
}

.slider-vertical-list {
  padding: 0;
  margin: 0;
  list-style: none;

}

.slider-vertical-item h3 {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
}

.slider-vertical-item-button:active {
  color: #f7e184;
  background-color: #000000;
  opacity: 1;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 105px;
  padding: 0;
  list-style: none;
}

.partners li {
  position: relative;
}

.partners-item img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.partners-item:hover img:last-child {
  opacity: 1;
}

.partners-item:hover img:first-child {
  opacity: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.index-columns h2 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;;
}

.index-columns p {
  letter-spacing: 0;
}

.about {
  width: 475px;
}

.about ul {
  list-style: none;
}

.transport-companies {
  list-style: none;
  margin: 0;
  padding: 0;
}

.transport-companies li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;;
  letter-spacing: 0;
}

.contacts {
  width: 560px;
}

.page-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 45px;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}


.filters-top {
  width: 100%;
  background: 
  linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
  overflow: hidden;
}

.filters-top .container {
  display: flex;
  align-items: center;
}

.content-and-filters h2,
.filters-top h2 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.filters-top h2  {
  width: 160px;
  padding-left: 70px;
}


.filter-pseudo-tittle {
  display: block;
  width: 200px;
  margin-left: 60px;
  padding-right: 68px;
  background-color: #dbdbdb;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-sort {
  display: flex;
  align-items: center;
  width: 832px;
  background-color: #ebebeb;
}

.content-and-filters ul,
.filters-top ul {
  list-style: none;
}


.filters-top-list {
  width: 300px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.catalog-sort-direction {
  width: 100px;
  margin: 0;
  padding: 0;
  padding-left: 200px;
}

.filters-top-list a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.filters-top-list a:hover {
  color:rgba(0, 0, 0, 0.6);
}

.filters-top-list a:active,
.filters-top-list a.active {
  color:rgba(0, 0, 0, 1);
}

.content-and-filters {
  overflow: hidden;
  background: 
  linear-gradient(to right,#efefef 0%,#efefef 29%,#fff 30%,#fff 100%);
}

.height-alignment { /*Класс чтобы тянулся чтобы фон тянулся на всю высоту*/
    display: flex;
    align-content: stretch;
}

.content-and-filters .container {
  display: flex;
}

.content-and-filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.content-and-filters legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.content-and-filters label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
}

.filter {
  width: 268px;
  margin-left: 60px;
  padding-top: 80px;
  background-color: #efefef;
}

.filter-form {
  width: 200px;
}
.filters-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-filter span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.catalog {
  width: 760px;
  padding-left: 72px;
  margin-top: 70px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.catalog ul {
  list-style: none;
}

.catalog a {
  color: #000000;
}

.catalog-item {
  width: 360px;
  margin-top: 40px;
}

.catalog-item:nth-child(odd) {
  margin-right: 40px;
}

.catalog-item h3 {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.catalog-item b {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.button-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
  outline: none;
}

.button-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  position: relative;
  display: flex;
  width: 510px;
  justify-content: center;
  padding: 0;
  padding: 25px 125px;
  margin: 0;
  margin-bottom: 73px;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #ebebeb;
}

.pagination-list li {
  margin: 0 16px;
}

.pagination-list a {
  display: inline-block;

  vertical-align: baseline;
}

li.pagination-back-item, 
li.pagination-forward-item {
    position: absolute;
    top: 0;
    width: 125px;
    height: 70px;
    margin: 0;
}

li.pagination-forward-item {
    right: 0;
    text-align: left;
}

li.pagination-back-item {
  left: 0;
  text-align: right;
}

.pagination-list .current {
  color: #000000;
}

.pagination-back ,
.pagination-forward {
  width: 85px;
  padding: 25px 20px;
  margin: 0;
}

.pagination-back:hover,
.pagination-forward:hover {
  background-color: #d9d9d9;
}

.pagination-back:active,
.pagination-forward:active {
 color: rgba(0, 0, 0, 0.3);   
}

a.pagination-item{
  color: rgba(0, 0, 0, 0.3);
}

a.pagination-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

a.pagination-item:active {
  color: rgba(0, 0, 0, 1);
}

.main-footer {
  width: 100%;
  margin-top: 90px;
  padding: 65px 0;
  color: #ffffff;
  background-color: #464646;
}

.footer-catalog {
  margin-top: 5px;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-top {
  display: flex;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 537px;
}

.footer-site-menu {
  width: auto;
}

.footer-user-menu {
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.main-footer a {
  color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

.social-buttons {
  margin: 0;
  padding: 0;
}

.main-footer .footer-logo {
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  color: #ffc600;
}

.inner-page .footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.inner-page .footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-user-menu a {
  line-height: 36px;
  opacity: 0.7;
}

.footer-user-menu a:hover {
  opacity: 1;
}


.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-site-menu a {
  color: #ffffff;
}

.modal-write-us label {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
}

.modal-write-us input,
.modal-write-us textarea  {

  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

  border: 3px solid transparent;
  background-color: #e5e5e5;
  opacity: 0.5;
  outline: none;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  opacity: 0.8;
} 

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border: 3px solid #f0c52e;
}

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
  background-color: #edb5b5;
}

.modal-map img {
  box-shadow: 10px 10px 20px 0 rgba(4, 6, 6, 0.2);
}







